.subscribeContainer {
  display: flex;
}

.marketDataContainer {
  display: flex;
  flex-direction: column;
}

.marketDataTable {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.marketDataItem {
  display: flex;
  flex-grow: 0;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.chart {
  width: 100%;
  height: 350px;
  background-color: lightblue;

  display: flex;
  align-items: center;
  justify-content: center;
}
